<?xml version="1.0" encoding="utf-8"?>
<packages xmlns="urn:packages">
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net46" />
  <package id="System.Net.Http" version="4.3.3" targetFramework="net461"/>
  <package
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  IgnorableNamespaces="com desktop">
    <Applications>
      <Application>
        <Extensions>

          <!--Register COM CLSID LocalServer32 registry key-->
          <com:Extension Category="windows.comServer">
            <com:ComServer>
              <com:ExeServer Executable="Spotify Muter\Spotify Muter.exe" Arguments="-ToastActivated" DisplayName="Toast activator">
                <com:Class Id="9A08AE3E-99EF-4AC6-B764-38FCF6BB68A0" DisplayName="Toast activator"/>
              </com:ExeServer>
            </com:ComServer>
          </com:Extension>

          <!--Specify which CLSID to activate when toast clicked-->
          <desktop:Extension Category="windows.toastNotificationActivation">
            <desktop:ToastNotificationActivation ToastActivatorCLSID="9A08AE3E-99EF-4AC6-B764-38FCF6BB68A0" />
          </desktop:Extension>

        </Extensions>
      </Application>
    </Applications>
  </package>
</packages>